h2 {
	color: red;
}

p {
	padding: 15px;
	color: #fff;
	background-color: darkolivegreen;
}

h4 { 
	color: black;
}

div.page-wrapper {
	width: 70%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div.inside-left {
	float: left;
	width: 20%;
	background-color: #ffefd5;
	display: flex;
	flex-direction: column;
	height: 480px;
	padding: 25px;
	box-sizing: border-box;
}

.inside-left .menu-item {
	flex: 1;
	flex-grow: 1;
}

div.inside-right {
	float: left;
	width: 80%;
}

div.right-top-am {
	 background-color: blue; 
	 padding: 20px; 
	 /*width: 50%; */
	 color: #fff; 
	 text-transform: uppercase; 
	 font-family: sans-serif;
}

div.right-top-pm {
	 background-color: black; 
	 padding: 20px; 
	 /*width: 50%; */
	 color: #fff; 
	 text-transform: uppercase; 
	 font-family: sans-serif;
}

@media all and (max-width: 1199px) {
	div.right-top {
		width: 100%;
	}
}

@media all and (min-width: 1200px) {
	div.right-top {
		background-color: #000;
	}
}

div.footer {
	float: left;
	width: 100%;
	background-color: lightpink;
	padding: 25px;
}

img.city {
	float: right;
	border: 1px dotted #ccc;
	margin: 10px;
	padding: 10px;

}img.city.jpg {
	float: right;
	border: 1px dotted #ccc;
	margin: 10px;
	padding: 10px;

}img.city.jpg {
	float: right;
	border: 1px dotted #ccc;
	margin: 10px;
	padding: 10px;
}